<div class="flex flex-col gap-4 w-2/3" [formGroup]="baseFormGroup">
	<span class="text-xl font-medium text-primary"
		>Comments ({{ commentsList().length }})</span
	>

	<div class="flex gap-2" [formGroup]="formGroup">
		<div class="w-10 h-10 rounded-full bg-placeholder"></div>

		<div class="flex w-full gap-4">
			<app-text-area
				id="comment"
				name="comment"
				[minRows]="1"
				[maxRows]="3"
				placeholder="What's on your mind?"
				class="w-full"
				extraClasses="!min-h-10"
				formControlName="comment"
			></app-text-area>

			<button
				class="text-sm font-medium text-primary cursor-pointer hover:text-primary-hover transition-colors"
				[ngClass]="{
					'!cursor-default !text-primary opacity-50':
						commentControl.value.length === 0
				}"
				(click)="postComment()"
			>
				Post
			</button>
		</div>
	</div>

	@for(comment of commentsList(); track comment.id) {
	<app-comment-details [comment]="comment"></app-comment-details>
	}
</div>
