<app-error-message-wrapper
	[errors]="ngControl.errors"
	[isControlTouched]="ngControl.touched"
	[isFormSubmitted]="isFormSubmitted()"
>
	<mat-form-field
		appearance="outline"
		subscriptSizing="dynamic"
		[classList]="'w-full ' + extraClasses()"
	>
		<input
			matInput
			placeholder="HH:MM AM/PM"
			[formControl]="time"
			[matTimepicker]="picker"
			[class]="
				'!text-sm !text-input placeholder:!text-placeholder dark:!text-white ' +
				extraClasses()
			"
			(blur)="onTouched()"
			(change)="onTouched()"
		/>
		<mat-timepicker-toggle matIconSuffix [for]="picker" class="pr-2" />
		<mat-timepicker interval="15m" #picker />
	</mat-form-field>
</app-error-message-wrapper>
