<div
	class="flex flex-col gap-2 w-full h-full cursor-pointer hover:-translate-y-1 transition-transform z-0"
	(click)="navigateToPlanPage()"
>
	<div class="flex flex-col gap-2 min-h-3/4">
		<!-- <img [src]="plan()." /> -->
		<div class="w-full h-1/2 shrink-0 bg-gray-500 rounded-lg"></div>
		<div class="flex flex-col">
			<span class="text-lg font-medium text-primary truncate">{{
				plan().name
			}}</span>
			<span class="text-xs text-placeholder"
				>Last updated on {{ plan().updatedOn | date : "d MMM y" }}</span
			>
		</div>
		<div class="w-full text-sm line-clamp-2 visible text-ellipsis">
			{{
				plan().description.length > 0
					? plan().description
					: "(no description)"
			}}
		</div>
	</div>

	<div class="flex flex-col gap-2 text-xs">
		<div class="flex items-center gap-2">
			<i class="bi bi-calendar-range text-primary"></i>
			{{ plan().dateStart | date : "d MMM y" }} -
			{{ plan().dateEnd | date : "d MMM y" }}
		</div>

		<div class="flex items-center gap-2">
			<i class="bi bi-geo-alt-fill text-primary"></i>
			{{ plan().destination }}
		</div>

		<div class="flex flex-col gap-2 justify-between">
			<div class="flex items-center gap-2">
				<i class="bi bi-person-circle"></i>
				{{ plan().owner.username }}
			</div>

			<div class="flex items-center gap-2">
				<i class="bi bi-eye"></i>
				{{ plan().viewCount }} views

				<i class="bi bi-heart-fill text-red-500"></i>
				{{ plan().likeCount }} likes
			</div>
		</div>
	</div>
</div>
