<app-base-popup title="Change Password" [formGroup]="baseFormGroup">
	<mat-dialog-content [formGroup]="formGroup" class="dark:!text-white">
		<div class="flex flex-col gap-4">
			<div class="flex flex-col gap-2">
				<label class="font-medium" for="oldPassword"
					>Old Password</label
				>
				<div class="relative w-full">
					<app-text-input
						[type]="
							hiddenPasswordRecord.oldPassword()
								? 'password'
								: 'text'
						"
						id="oldPassword"
						name="oldPassword"
						placeholder="**********"
						extraClasses="pr-8"
						formControlName="oldPassword"
					></app-text-input>
					<i
						class="bi bi-eye-slash absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer hover:text-gray-500 transition-colors"
						[ngClass]="
							hiddenPasswordRecord.oldPassword()
								? 'bi-eye-slash'
								: 'bi-eye'
						"
						(click)="togglePasswordHidden('oldPassword')"
					></i>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<label class="font-medium" for="newPassword"
					>New Password</label
				>
				<div class="relative w-full">
					<app-text-input
						[type]="
							hiddenPasswordRecord.newPassword()
								? 'password'
								: 'text'
						"
						id="newPassword"
						name="newPassword"
						placeholder="**********"
						extraClasses="pr-8"
						formControlName="newPassword"
					></app-text-input>
					<i
						class="bi bi-eye-slash absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer hover:text-gray-500 transition-colors"
						[ngClass]="
							hiddenPasswordRecord.newPassword()
								? 'bi-eye-slash'
								: 'bi-eye'
						"
						(click)="togglePasswordHidden('newPassword')"
					></i>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<label class="font-medium" for="confirmPassword"
					>Confirm New Password</label
				>
				<div class="relative w-full">
					<app-text-input
						[type]="
							hiddenPasswordRecord.confirmPassword()
								? 'password'
								: 'text'
						"
						id="confirmPassword"
						name="confirmPassword"
						placeholder="**********"
						extraClasses="pr-8"
						formControlName="confirmPassword"
					></app-text-input>
					<i
						class="bi bi-eye-slash absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer hover:text-gray-500 transition-colors"
						[ngClass]="
							hiddenPasswordRecord.confirmPassword()
								? 'bi-eye-slash'
								: 'bi-eye'
						"
						(click)="togglePasswordHidden('confirmPassword')"
					></i>
				</div>
			</div>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<app-button (onClick)="changePassword()">Save</app-button>
	</mat-dialog-actions>
</app-base-popup>
