.cdk-drag-placeholder {
	opacity: 0.5;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-drop-list.cdk-drop-list-dragging
	.location-details-card:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
