@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
	--color-primary: var(--color-orange-600);
	--color-primary-hover: var(--color-orange-500);
	--color-accent: var(--color-amber-400);
	--color-accent-hover: var(--color-amber-500);
	--color-hover: var(--color-gray-500);
	--color-hover-bg: var(--color-gray-200);
	--color-light: #faf9fd;
	--color-dark: var(--color-zinc-900);
	--color-dark-bg: var(--color-zinc-700);
	--color-dark-hover-bg: var(--color-zinc-800);
	--color-input: var(--color-gray-800);
	--color-input-border: var(--color-gray-300);
	--color-placeholder: var(--color-gray-400);
	--color-error: var(--color-red-500);
	--font-poppins: "Poppins", "sans-serif";
	--font-inter: "Inter", "sans-serif";
}

@custom-variant dark (&:where(.dark, .dark *));

html {
	width: 100vw;
	font-size: 16px;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	cursor: default !important;
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

.info-snackbar {
	@apply bg-gray-800 text-white;
}

.dark-info-snackbar {
	@apply bg-gray-300 text-black;
}

.error-snackbar {
	/* @apply !mt-40; */
	--mat-snack-bar-container-color: var(--color-error);
}

.mdc-snackbar {
	@apply rounded-lg overflow-hidden;
}

.mat-mdc-snack-bar-label {
	@apply whitespace-pre-wrap;
}

:root {
	color-scheme: light;

	--mat-checkbox-state-layer-size: 20px;

	.mdc-label {
		padding-left: 10px;
	}

	--mat-form-field-filled-container-color: transparent;
	--mat-form-field-container-vertical-padding: 0.25rem;
	--mat-form-field-container-height: fit-content;
	--mat-form-field-hover-state-layer-opacity: 0;
	--mat-form-field-outlined-outline-width: 0;
	--mat-form-field-outlined-focus-outline-color: var(--color-sky-400);
	--mat-icon-button-state-layer-size: fit-content;
	--mat-icon-button-icon-size: 1rem;
	--mat-datepicker-range-input-separator-color: black;
	--mat-datepicker-toggle-icon-color: black;

	.mat-mdc-button-touch-target {
		width: 1rem !important;
		height: 1rem !important;
	}

	--mat-dialog-container-max-width: 90vw;
}

:root .dark {
	color-scheme: dark;

	--mat-checkbox-unselected-hover-state-layer-opacity: 1;
	--mat-checkbox-unselected-hover-state-layer-color: var(--color-gray-800);
	--mat-checkbox-unselected-hover-icon-color: white;
	--mat-checkbox-selected-hover-state-layer-opacity: 1;
	--mat-checkbox-selected-hover-state-layer-color: var(--color-gray-800);
	--mat-checkbox-selected-hover-icon-color: white;
	--mat-checkbox-unselected-focus-icon-color: white;
	--mat-datepicker-range-input-separator-color: white;
	--mat-datepicker-toggle-icon-color: white;
	--mat-sys-surface-container: var(--color-dark-bg);
	--mat-datepicker-calendar-body-label-text-color: black;
	--mat-datepicker-calendar-date-text-color: black;
	--mat-sys-on-surface: white;
}

input[type="radio"] {
	accent-color: var(--color-accent);
}

.app-overlay-container {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.app-overlay-container:empty {
	display: none;
}

div[matformfieldlineripple] {
	display: none;
}

.mdc-text-field {
	@apply !pl-2 border-2 border-gray-300 !rounded-sm;
}

.dark .mat-mdc-icon-button {
	@apply text-white;
}

.mdc-text-field--focused {
	@apply !border-transparent;
}

textarea.cdk-textarea-autosize {
	box-sizing: content-box;
}
