<ng-container [formGroup]="baseFormGroup">
	<div
		class="flex flex-col w-full sticky top-5 gap-3 font-poppins"
		[formGroup]="formGroup"
	>
		<div class="flex gap-3 items-center text-xl">
			<i class="bi bi-sliders"></i>
			<span class="font-medium">Filter</span>
		</div>

		<div class="flex flex-col gap-2">
			<div class="flex gap-2 items-center">
				<i class="bi bi-geo-alt-fill"></i>
				<span class="font-medium">Trip Destination</span>
			</div>

			<app-destination-search
				extraClasses="!text-xs"
				formControlName="destinationFilter"
			></app-destination-search>
		</div>

		<div class="flex flex-col gap-2">
			<div class="flex gap-2 items-center">
				<i class="bi bi-calendar-range"></i>
				<span class="font-medium">Date Range</span>
			</div>

			<app-date-input
				extraClasses="!text-xs"
				formControlName="dateFilter"
			></app-date-input>
		</div>

		<div class="flex items-center justify-between">
			<hr class="w-full" />
			<span class="px-5">or</span>
			<hr class="w-full" />
		</div>

		<div class="flex flex-col gap-2">
			<div class="flex gap-2 items-center">
				<i class="bi bi-calendar-range"></i>
				<span class="font-medium">Days</span>
			</div>

			<app-text-input
				id="daysFilter"
				name="daysFilter"
				placeholder="Number of days"
				type="number"
				extraClasses="!text-xs"
				formControlName="daysFilter"
			></app-text-input>
		</div>

		<div class="flex gap-2 items-center justify-end">
			<app-button (onClick)="filterPlanList()">Filter</app-button>

			<app-border-button (onClick)="clearFilters()"
				>Clear</app-border-button
			>
		</div>
	</div>
</ng-container>
